Books file

In [2]:
import pandas as pd

In [45]:
def read():
    return (
        pd.read_csv("BL-Flickr-Images-Book.csv")
        .rename(columns=lambda header: header.lower().replace(" ", "_"))
        .rename(columns={"identifier": "id"})
        .drop(
            columns=[
                "edition_statement",
                "contributors",
                "corporate_author",
                "corporate_contributors",
                "former_owner",
                "engraver",
                "issuance_type",
                "shelfmarks",
            ]
        )
        .set_index("id")
        .assign(
            date_of_publication=clean_date_of_publication,
            place_of_publication=clean_place_of_publication,
        )
    )


def clean_date_of_publication(books):
    return pd.to_numeric(
        books.loc[:, "date_of_publication"]
        .str.extract(r"(\d{4})", expand=False)
        .fillna(0),
        downcast="unsigned"
)    

def clean_place_of_publication(books):
    return (
        books.loc[:, "place_of_publication"]
        .str.replace(r".*London.*", "London", regex=True)
        .str.replace(r"-", " ", regex=True)
        .str.replace(r".*Oxford.*", "Oxford", regex=True)
        .str.replace(r".*Plymouth.*", "Plymouth", regex=True)
    
    )

In [46]:
books = read()

In [47]:
books.head()

,place_of_publication,date_of_publication,publisher,title,author,flickr_url
id,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [19]:
books.loc[:, "id"]

0           206
1           216
2           218
3           472
4           480
         ...
8282    4158088
8283    4158128
8284    4159563
8285    4159587
8286    4160339
Name: id, Length: 8287, dtype: int64

In [20]:
books.loc[:, "id"].is_unique

True

In [35]:
books.loc[:, "place_of_publication"]

id
206                          London
216        London; Virtue & Yorston
218                          London
472                          London
480                          London
                     ...
4158088                      London
4158128                       Derby
4159563                      London
4159587         Newcastle upon Tyne
4160339                      London
Name: place_of_publication, Length: 8287, dtype: object

In [44]:
books.tail()

,place_of_publication,date_of_publication,publisher,title,author,flickr_url
id,,,,,,
4158088,,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
4158128,,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
4159563,,1806,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
4159587,,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
4160339,,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...