In [3]:
import pandas as pd

In [18]:
def read():
    # return pd.read_csv("towns.csv", index_col=0)
    return pd.read_csv("towns.csv", index_col=0).assign(
        state=lambda df: df.loc[:,"state"].str.removesuffix("[edit]"), 
        town=lambda df: df.loc[:,"town"].str.extract(r"(.+) \(.*")
    )

In [19]:
towns = read()

In [20]:
towns.head()

     state          town
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [14]:
towns.loc[:,"state"].str.contains("\[edit\]").all()

True