In [2]:
import pandas as pd

In [9]:
def read():
    towns = []
    state = ""
    
    with open("university_towns.txt", mode="r") as file:
        # print(file.readlines())
        for line in file:
            if "[edit]" in line:
                state = line.strip()
            else:
                towns.append([state, line])
    return pd.DataFrame(towns, columns=["state", "town"])

In [10]:
towns = read()

In [12]:
towns.head()

           state                                               town
0  Alabama[edit]                    Auburn (Auburn University)[1]\n
1  Alabama[edit]           Florence (University of North Alabama)\n
2  Alabama[edit]  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]         Montevallo (University of Montevallo)[2]\n

In [13]:
towns.to_csv("towns.csv")